.element {
    width: 600px;
    height: 600px;
    resize: both;
    overflow: auto;
    background-image: url("../images/landscape.jpg");
    background-repeat: no-repeat;
    background-color: greenyellow;
    background-position: center;
    color: white;


}