.element {
    color: white;
    width: 300px;
    height: 300px;
    resize: both;
    overflow: auto;
    background: center / contain no-repet url("../images/landscape.jpg") #ccc;
    background-attachment: fixed;
    
    
    


}